body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#canvas {
	width: 80%;
	height: 80%;
	margin: 10%;
	touch-action: none;
}

#popup {
	background-color: rgba(255, 0, 0, 0.5);
	animation: 1s infinite alternate ease-in-out widthAnim;
	height: 50px;
}

@keyframes widthAnim {
	from {
		width: 100px;
	}
	to {
		width: 200px;
	}
}